<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>To Do List</title>
</head>
<body>
<h1 class="display-4 p-5 text-center text-primary">Tasker</h1>
<div class="container d-flex justify-content-center">
    <form method="POST" action="/" class="d-flex w-50 flex-column align-items-center">
        <div class="form-group w-100">
            <input type="text" name="todo" class="form-control" placeholder="Your Task Here...">
        </div>
        <div class="form-group w-100">
            <input type="text" name="details" class="form-control" placeholder="Details...">
        </div>
            <button class="btn btn-outline-primary mt-4" type="submit">Add Task</button>

    </form>
</div>
</body>
</html>